html {
    height: 100%;
    overflow: auto;
}

p.input {
    margin: 10px;
}

div.artifact-link:hover {
    border: 1px solid gray;
    background-color: rgba(100,100,100,0.5);
    cursor: pointer;
}

div.clickable {
    border: 1px solid gray;
    background-color: rgba(100,100,100,0.5);
    text-align: center;
    margin-bottom: 10px;
}

div.clickable:hover {
    border: 1px solid gray;
    background-color: rgba(100,100,100,0.5);
    cursor: pointer;
}

#results {
    display: table;
    text-align: left;
    table-layout: fixed;
    font-size: 0.85em;
}

div.artifact-link {
    border: 1px solid red;
    display: table-row;
}

div.artifact-link-selected {
    border: 1px solid red;
    background-color: rgba(100,100,100,0.25);
    display: table-row;
}

.artifact-link-col {
    padding: 2px;
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.85em;
}

.grid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 16px;
    grid-template-columns: repeat(13, 16px);
    background-color: #dfe7f5;
}

div.month-box:hover {
    cursor: pointer;
}

div.plain-month-box {
    background-color: #dfe7f5;
    opacity: 1;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
}

div.month-box {
    border: 1px solid #193057;
    background-color: #193057;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
}

div.selected-month-box {
    border: 1px solid red;
    background-color: rgba(255,155,155,0.45);
}

div.month-name {
    font-size: 0.6em;
    font-style: italic;
    color: #193057;
}

#feature-background {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#feature {
    max-height: 80%;
    height: 100%;
    overflow-y: auto;
    font-size: 0.85em;
    color: black;
    margin: 50px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 1);
}

.row-timeline {
    position: relative;
    border-left: 1px solid #193057;
    border-right: 1px solid #193057;
    opacity: 50%;
}

.row-timeline-fill {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 65%;
    background-color: #193057;
    z-index: 10;
}
